{% extends "layouts/main.html" %}

{% set pageName="Verification report pilot" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">WHAT A VERIFCATION REPORT IS?</p>
    <p class="govuk-body">GUIDANCE TO INTRODUCE A VERIFICATION REPORT?</p>
    <a href="/public/downloads/print-verification-report-v.0.1.0.pdf" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" target="_blank">
      Download report template<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>
      <p class="govuk-body">BEFORE YOU START tips?</p>
      <p class="govuk-body">something around only doing it for triaged cases,
        and how to get to triage guidance?
      </p>
  </div>
  <div class="govuk-grid-column-one-third relatedcontent__top-border">Related content
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div>
</div>

{% endblock %}
