{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    MAIN COLUMN<br>
    GUIDANCE TO INTRODUCE A VERIFICATION REPORT?<br>
    <p class="govuk-body"><a href="/public/downloads/print-verification-report-v.0.1.0.pdf" target="_blank">
      Download Verification Report</a></p>
    BEFORE YOU START tips
  </div>
  <div class="govuk-grid-column-one-third">Related content
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div>
</div>

{% endblock %}
