{% extends "layouts/main.html" %}

{% set pageName="Verification report pilot" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">A verification report is a new kind of pre-sentence
        advice. It identifies lower complexity cases that are suitable for
        electronic monitoring curfew, unpaid work sentences or both. This allows
        probation practitioners to be proactive in identifying suitable cases
        and will reduce the need for unnecessary adjournments.</p>
      <p class="govuk-body">There are a number of steps to be taken between
        considering suitability to completing the verification report itself.</p>
      <h2 class="govuk-heading-m">1. Check the case meets the criteria for a
        verification report</h2>
      <p class="govuk-body">A defendant can be considered for a verification
        report if:.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>their most serious offence is in scope for a community order but not
          severe enough for a custodial sentence</li>
        <li>they have been identified as a guilty anticipated plea (GAP)</li>
        <li>they have no specific risk flags in NDelius</li>
        <li>there are no case markers in Common Platform</li>
        <li>they are at liberty on the day of their plea hearing</li>
        <li>there are no current domestic violence or safeguarding concerns</li>
      </ul>
      <p class="govuk-body">You must confirm their suitability for either a
        verification report, a pre-sentence report or no advice.</p>
      <p class="govuk-body">If you're unsure whether a case is suitable for a
        verification report, <a href="https://verification-report-pilot-main.apps.live.cloud-platform.service.justice.gov.uk/" class="govuk-link">
          read guidance on checking suitable advice types</a>.</p>
      <p class="govuk-body">When the defendant meets the criteria for a
        verification report, further information must be requested to confirm
        their suitability including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>domestic violence checks from the police</li>
        <li>child safeguarding checks from social services</li>
        <li>relevant information from other services</li>
        <li>an update from their probation practitioner (if they are a current
          case)</li>
      </ul>
      <p class="govuk-body"><a href="https://miro.com/app/board/uXjVM6w-eIM=/?moveToWidget=3458764575034228547&cot=14" class="govuk-link">
        Read guidance on information and gathering third party checks</a>.</p>
      <p class="govuk-body">If no risk concerns are identified following these
        checks, a screening interview will be arranged with the defendant.</p>
      <h2 class="govuk-heading-m">2. Arrange and hold the screening interview</h2>
      <p class="govuk-body">The screening interview is an opportunity to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>discuss and validate information already collated such as
          accommodation, employment and health</li>
        <li>gather further evidence to inform and confirm the contents of the
          verification report</li>
        <li>consider any complexities or rehabilitative needs linked to race,
          age or sex through completion of the diversity and inclusion form
          (DIF)</li>
        <li>use professional curiosity and judgement when considering how the
          person has presented</li>
      </ul>
      <p class="govuk-body">The defendant should be informed in advance of the
        screening interview to provide any paperwork or evidence to verify their
        current circumstances.</p>
      <p class="govuk-body">If concerns arise during the screening interview
        that would suggest a full assessment is required due to rehabilitative
        or risk needs, the verification report should be completed with the
        information you have gathered, noting the concerns that require further
        assessment.</p>
      <p class="govuk-body"><a href="TODO" class="govuk-link">Read the screening
        interview checklist</a>.</p>
      <h2 class="govuk-heading-m">3. Complete the verification report</h2>
      <p class="govuk-body">You can complete the verification report in any
        order, over a period of time, adding information as you get it.</p>
      <p class="govuk-body">If you are still waiting on checks coming back you
        should save a draft and include the missing information when you get
        it.</p>
      <p class="govuk-body">In order to edit the verification report, you will
        need to have Microsoft Word installed on your device.</p>
      <a href="/public/downloads/print-verification-report-v.0.1.5.docx" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" target="_blank">
        Download an editable verification report (Word) <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg></a>
      <h2 class="govuk-heading-m">4. Share the verification report</h2>
      <p class="govuk-body">You should upload the verification report to Common
        Platform as soon as it is ready. The court will not need to adjourn for
        a pre-sentence report to be prepared.</p>
    </div>
  </div>
{% endblock %}
